html, body {
    height: 100%;
}
body {
    background-image: url(/img/pexels-james-wheeler-1542493.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

label {
    color:white;
}

.container {
    padding: 20px 300px 20px 300px;
}

@media (max-width: 1000px){
    body {
        background-size: cover;
    }
    .container {
        padding: 20px 50px 20px 50px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 20px 10px 20px 10px;
    }
}

































/*
div {
    display: flex;
    height: 100%;
}

form {
    display: grid;
    grid-template-rows: 20% 20% 20% 10%;
    grid-template-columns: auto;

    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

.label {
    display: flex;

    background-color: rgba(0, 0, 0, 0.863);
    color: white;

    justify-content: center;
    align-items: center;

    padding: 0 10px 0 10px;
}

.lab1 {
    border-radius: 30% 30% 0 0;
}
.lab3 {
    border-radius: 0 0 40% 40%;
}

input {
    border: 1px solid yellow;
    background-color: black;
    color: white;
    border-radius: 5px;
}

button {
    width: 50%;
    height: 50%;
}




            <div class="label lab1"><label>Nombre: <input type="text" placeholder="Nombre"></label></div>
            <div class="label"><label>Email: <input type="email" placeholder="email"></label></div>
            <div class="label"><label>contraseña: <input type="password" placeholder="contraseña"></label></div>
            <div class="label lab3"><button class="label" type="submit">Enviar</button></div>

*/