/*acomodo el body para que el Header, aside, main y footer ocupen toda la pantalla
además de poner una imagen como background*/
body, html {
    height: 100%;
    margin: 0;
    background-image: url(img/pexels-james-wheeler-1542493.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

   
  }

/*creo el flex container donde irán los tres elementos, porque aside y main irán en otro contenedor.
tendrá la dirección de columna y ocupará todo el alto, además el texto será blanco para contrastar con el
fondo*/
.flexContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    box-sizing: border-box;
    color: white;
}


/*en el header está el Título y una imagen de usuario para suscribirse a los avisos*/
header {
    background-color: #000000ea;
    flex-basis: 50px;
    max-height: 10%;
    flex-grow: 1;
    border: 2px solid yellow;	


    display: flex;
    
}


/*ajusta el título del header*/
.titulo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}

/*caja hermana al título que contiene la imagen*/
.imagen {
    flex-grow: 1;
    max-width: 10%;
    /*el max height es para que la imagen no se vaya al carajo en cada cambio de tamaño*/
    max-height: 100%;

    display: flex;
    flex-direction: row-reverse;
}

/*la imagen en si*/
.imagen img {
    max-width: 100%;
    max-height: 100%;
}

/*hijo del container principal, hermano del header que contiene al main y aside*/
.hijo {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}

/*donde va el artículo en si*/
main {
    background-color: #000000c0;
    border: 2px solid yellow;	

    flex-grow: 1;
    overflow: auto;
    max-height: 528px;
    max-width: 90%;
    scroll-behavior: smooth;
}

/*hay que agregar padding a una caja sin flex o se va todo al carajo*/
.texto {
    padding: 10px 20%;
    text-align: center;
}

/*hermano del main, aquí irán las anclas*/
aside {
    background-color: #000000cb;
    border: 2px solid yellow;	

    flex-grow: 1;
    max-width: 10%;
    max-height: 528px;

    display: flex;
    flex-direction: column;
    overflow: auto;
    
}

/*las anclas deltro del aside*/
.anclas {
    flex-grow: 1;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.062);
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .5s;
    min-height: 20px;
}
.anclas:hover {
    background: radial-gradient( rgb(255, 255, 255),rgb(68, 68, 68));
}

/*link del aside*/
.aside-a {
    color: rgb(255, 251, 0);
    text-decoration: none;

    transition: .5s;
}
.aside-a:hover {
    font-size: 130%;
    color: black;
}

/*el pie de página donde van las redes*/
footer {
    background-color: #000000d2;
    border: 2px solid yellow;	

    flex-grow: 1;
    flex-basis: 50px;
    max-height: 5%;

    display: flex;
    
}

/*párrafos en el main*/
p {
    font-size: 120%;
}
/*efecto lupa*/
p:hover {
    font-size: 150%;
    background-color: rgba(0, 0, 0, 0.849);

    padding: 5px;
    border-radius: 15px;
}


/*desde aquí solo tiene que ver con las imágenes de redes sociales*/
.img-footer1 {
    background-image: url(iconos/477\ sin\ título_20231030103930.png);
}
.img-footer2 {
    background-image: url(iconos/477\ sin\ título_20231030104723.png);
}
.img-footer3 {
    background-image: url(iconos/477\ sin\ título_20231030105044.png);
}
.img-footer4 {
    background-image: url(iconos/477\ sin\ título_20231030105240.png);
}
.img-footer5 {
    background-image: url(iconos/477\ sin\ título_20231030105408.png);
}


.img-footer {
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    flex-grow: 1;

    text-decoration: none;
    color: #ffff0000;
    font-size: 110%;
    transition: .5s;
}

.img-footer:hover {
    color: #ffff00;
    background-color: #000000;
    background-image: none;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*acomodando las listas*/
h2 {
    color: #ffff00;
   
}
h2:not(:first-of-type) { /*elige todos los h2, menos el primero*/
    margin-top: 200px;
}
h3 {
    color: #15c015;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: square;
    font-size: 120%;

    color: rgb(0, 255, 234);
}

ul:hover {
    font-size: 150%;
    background-color: rgba(0, 0, 0, 0.849);

    padding: 5px;
    border-radius: 15px;
}






/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (max-width: 913px) {
    header {
     order: 1;
    }
    footer {
        order: 2;
        min-height: 70px;
    }
    .hijo {
        order: 3;
        flex-direction: column;
    }
    aside {
        flex-direction: row;
        max-width: 912px;
        max-height: 10%;
        min-height: 70px;
        order: 1;

        overflow: auto;
    }
    .anclas {
        min-width: 100px;
    }

    main {
        max-width: 912px;
        max-height: 100%;
        order:2
    }

 }

 @media (max-width: 400px) {
    .titulo {
        font-size: 150%;
    }
 }