body, html {
    height: 100%;
    margin: 0;
    background-image: url(img/pexels-james-wheeler-1542493.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.flexContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    box-sizing: border-box;
    color: white;
}

header {
    background-color: #000000ea;
    flex-basis: 50px;
    max-height: 10%;
    flex-grow: 1;
    border: 2px solid yellow;	


    display: flex;
    
}

.titulo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}
.imagen {
    flex-grow: 1;
    max-width: 10%;

    display: flex;
    flex-direction: row-reverse;
}
.imagen img {
    max-width: 60px;
    max-height: 60px;
}

.hijo {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}

main {
    background-color: #000000c0;
    border: 2px solid yellow;	

    flex-grow: 1;
    overflow: auto;
    max-height: 524px;
    max-width: 90%;
}

/*hay que agregar padding a una caja sin flex o se va todo al carajo*/
.texto {
    padding: 10px 20%;
    text-align: center;
}

aside {
    background-color: #000000cb;
    border: 2px solid yellow;	

    flex-grow: 1;
    max-width: 10%;
}

footer {
    background-color: #000000ea;
    border: 2px solid yellow;	

    flex-grow: 1;
    flex-basis: 50px;
    max-height: 5%;
}

ul {
    list-style-position: inherit;
    margin: 0 0;
    padding: 0 0 0 0;
}